@use './variables' as *;
@use './mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFontBold;
    src: url(/assets/Font/NunitoSans-Bold.woff);
    font-family: myFontMed;
    src: url(/assets/Font/NunitoSans-Medium.woff);
    font-family: myFontReg;
    src: url(/assets/Font/NunitoSans-Regular.woff);
}

html, body {
    font-family:myFontReg;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primary-c3;
}

.bold {
    font-weight: 700;
}

.nav {
    background-color: $primary-c1;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
    }

    &__bar {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    &__logo {
        display: flex;
        margin: auto;
    }

    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 4rem;
    }

    &__link {
        color: $secondary-c2;
        padding: 1rem;
        position: relative;
        height: 4rem;

        &:hover,
        &:active {
            color: $primary-c3;
            font-weight: 700;
        }

        &.active {
            color: $primary-c3;
            font-weight: 700;
        }

        /* Underline effect */
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0.125rem;
            background-color: $primary-c3;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%; /* Make the underline span the full width of the link */
        }
    }
}

.logo {
    background-color: $primary-c1;
    display: flex;
    height: 1.25rem;
    width: 7.5rem;

    &__footer {
        @include tablet {
            display: none;
        }
    
        @include desktop {
            display: none;
        }
    }

    &__footer-upper {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: row-reverse;
        }
    
        @include desktop {
            display: flex;
            flex-direction: row-reverse;
        }
    }

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: $primary-c1;
    color: $primary-c3;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2rem;
        color: $primary-c3;
        background-color: $primary-c1;
        padding: 0 1rem;

        @include tablet {
            padding:0 2rem;
        }
    
        @include desktop {
            padding:0 5rem;
        }
    }

    &__top-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            padding-top: 1.5rem;
            padding-bottom: 1rem;
            gap: 100px;
        }
    
        @include desktop {
            flex-direction: row;
            padding-top: 1.5rem;
            padding-bottom: 1rem;
            gap: 100px;
        }
    }

    // &__title {
    //     padding-left: 1rem;
    // }

    &__card-container {
        display: flex;
        flex-direction: column;
        
        @include tablet {
            gap: 50px;
            flex-direction: row;
        }
    
        @include desktop {
            gap: 50px;
            flex-direction: row;
        }
    }

    &__card {
        flex-grow: 1;
        flex-basis: 0;
    }

    &__text {
        font-size: 0.813rem;
        line-height: 1.125rem;
        padding: 1rem 0;
    }
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.25rem;
}
