//Primary colors
$primary-c1: #323232; //BandSite-Black
$primary-c2: #AFAFAF; //Silver
$primary-c3: #FFFFFF; //White

//Secondary colors
$secondary-c1: #000000; //BanSite-DarkBlack
$secondary-c2: #E1E1E1; //Mercury
$secondary-c3: #FAFAFA; //Alabaster

//Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;