* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myFontBold;
  src: url(/assets/Font/NunitoSans-Bold.woff);
  font-family: myFontMed;
  src: url(/assets/Font/NunitoSans-Medium.woff);
  font-family: myFontReg;
  src: url(/assets/Font/NunitoSans-Regular.woff);
}
html, body {
  font-family: myFontReg;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.bold {
  font-weight: 700;
}

.nav {
  background-color: #323232;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
  }
}
.nav__bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.nav__logo {
  display: flex;
  margin: auto;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 4rem;
}
.nav__link {
  color: #E1E1E1;
  padding: 1rem;
  position: relative;
  height: 4rem;
  /* Underline effect */
}
.nav__link:hover, .nav__link:active {
  color: #FFFFFF;
  font-weight: 700;
}
.nav__link.active {
  color: #FFFFFF;
  font-weight: 700;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
}
.nav__link:hover::after {
  width: 100%; /* Make the underline span the full width of the link */
}

.logo {
  background-color: #323232;
  display: flex;
  height: 1.25rem;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .logo__footer {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .logo__footer {
    display: none;
  }
}
.logo__footer-upper {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__footer-upper {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .logo__footer-upper {
    display: flex;
    flex-direction: row-reverse;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
  }
}
.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
  color: #FFFFFF;
  background-color: #323232;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__section {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__section {
    padding: 0 5rem;
  }
}
.footer__top-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__top-container {
    flex-direction: row;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    gap: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__top-container {
    flex-direction: row;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    gap: 100px;
  }
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__card-container {
    gap: 50px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__card-container {
    gap: 50px;
    flex-direction: row;
  }
}
.footer__card {
  flex-grow: 1;
  flex-basis: 0;
}
.footer__text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 1rem 0;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3.25rem;
}

.header {
  display: flex;
}

.hero-ban {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(50, 50, 50, 0.5);
}
@media screen and (min-width: 768px) {
  .hero-ban {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .hero-ban {
    flex-direction: row;
  }
}
.hero-ban__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .section {
    flex-direction: column;
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    flex-direction: column;
    padding: 0 5rem;
  }
}
.section:nth-child(2) {
  background-color: #FAFAFA; /* Background color for the gallery section */
}
.section__title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.section__img {
  width: 100%;
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .section__img {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .section__img {
    width: 80%;
    margin: auto;
  }
}
.section__container {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .section__container {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .section__container {
    width: 80%;
    margin: auto;
  }
}
.section__paragraph-title {
  padding: 1rem 0 1rem 0;
}
.section__paragraph-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .section__paragraph-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .section__paragraph-wrapper {
    flex-direction: row;
  }
}
.section__paragraph-body {
  font-size: 0.8rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.section__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.section__photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section__photo {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .section__photo {
    width: 30%;
  }
}
.section__icon {
  background-color: #323232;
}
.section__quote {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.section__quote-author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.comments-section {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .comments-section {
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .comments-section {
    flex-direction: column;
  }
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.comment-form__label {
  color: #AFAFAF;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.comment-form__input, .comment-form__textarea {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #AFAFAF;
  border-radius: 0.3rem;
  width: 100%;
  font-size: 1rem;
}
.comment-form__button {
  color: #FFFFFF;
  align-self: flex-end;
  padding: 0.75rem 1.5rem;
  background-color: #323232;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}/*# sourceMappingURL=bio.css.map */