@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

.header { 
    display: flex;
}

.hero-ban {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(/assets/images/hero-shows.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba($primary-c1, 0.5);

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
    }

    &__title {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
        color: $primary-c3;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }

    &__title-shows {
        color: $primary-c3;
    }
}

.section {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @include tablet {
        flex-direction: column;
    }

    @include desktop {
        flex-direction: column;
    }
  
    &:nth-child(2) {
        background-color: $secondary-c3; /* Background color for the gallery section */
    }

    &__title {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    &__img {
        width: 100%;
        padding: 0 0 1rem 0;
    }

    &__paragraph-title {
        padding: 1rem 0 1rem 0;
    }

    &__paragraph-body {
        font-size: 0.8rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    &__gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__photo {
        padding-top: 1rem;
        width: 100%;
    }

    &__icon {
       background-color: $primary-c1; 
    }

    &__quote {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    &__quote-author {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: $primary-c1;
    color: $primary-c3;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2rem;
        color: $primary-c3;
        background-color: $primary-c1;
    }

    // &__title {
    //     text-align: center;
    // }

    &__card {
        padding: 2rem;
    }

    &__text {
        font-size: 0.813rem;
        line-height: 1.125rem;
        padding: 1rem;
    }
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-evenly;
}
